extends _layout.pug

block content
    +row('around','clean')
        +flex('solo')
            +item
                h1 Blueprint
                p “Blueprint”, is an open-source CMS ( Content Management System, i.e. WordPress). Blueprint is engineered to help anybody, regardless of web development competences build scalable and state of the art websites.
                br
                p purpose of this report is to showcase the skills and competences I have developed over the past years as a Web Development student, and how I applied them in the real world environment. During the report I will talk not only about the process of engineering the project, but also about the shortcomings that I have encountered along the way.
    +row