extends _layout.pug

block content
    +row('around','clean')
        +flex('solo', 'column')
            h1 Bogdan bele
            p The whole project has been thought out, developed and designed by a single person, this was shown to have both positive and negative aspects.I was able to develop my dream application from scratch, exactly the way I wanted it to be, without needing to compromise my ideas but my dream application could surely have been developed way further if I had other teammates by my side. 
            br
            p Regardless, I have put a lot of passion and time into Blueprint, and I managed to get over every hurdle that I encountered during the development and research phases of the project. My technical skills have greatly improved in the past months with the help of this project and the tools and libraries I have used.
    +row