extends _layout.pug

block content
    +content
        +row
            +flex('3','shadow')
                +item('review')
                    img(src='person1.png')
                    div
                        .name Mark 29, Business owner
                        p “Since creating my company website with Blueprint, my life has become tremendously easier. No more pulling my hair out of frustration, no more hours wasted in customer support. Blueprint just does what it promises and I can relax and focus on my business, knowing my website runs smoothly. It’s easy to navigate and update my website information and appearances. Simply a great web-builder that I would highly recommend for anyone.”
            +flex('3','shadow')
                +item('review')
                    img(src='person2.png')
                    div
                        .name Bojidar 34, Blogger
                        p “I work full-time as a travel and lifestyle blogger and for me it’s crucial that my website runs smoothly at all times. Since creating my blog with Blueprint I’ve had no issues whatsoever and that is truly rare. Uploading pictures takes a microsecond and choosing keywords for my blog posts is piece of cake. It saves me so much time! Time that I can now use exploring new places and taking pictures instead. Blueprint is truly hassle-free and I love it.”
            +flex('3','shadow')
                +item('review')
                    img(src='person3.png')
                    div
                        .name James 43, Pilot
                        p “This is by far the best website-builder out there. It’s a dream to work in and you don’t need to be a programmer to manage your website. It runs so fast and contains all the features needed to make my job as a marketer easier. The customer support are always very helpful and friendly and quick to solve any issue. Highly recommend!