extends _layout.pug

block content
    +content
        +row('around')
            +flex('3')
                +item
                    img(src='job.svg')
                    div
                        h1 We are hiring
                        p We are hiring an editor to write content on our beloved blog.