@import '../variables.scss';

.content {
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 80%;
    @include breakpoint(lg){
        max-width: 1100px;
    }
}