@import '../variables.scss';

.footer {
    display: flex;
    margin:0 auto;
    background-color: #FFF;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    @include breakpoint(md){
        max-width: 1100px;
        flex-direction: row;
        
    }
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;


}

.list {
    width: 100%;
    @include breakpoint(md){
        width: auto;
    }
}

.list p {
    text-align: center;
    width:100%;
    color: $primary-color;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    box-shadow: 0 1.5px 0 0 $lighter-gray;
    @include breakpoint(md){
        width: auto;
    }
}

.list p:hover {
    color: $dark-gray;
}

.list li {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1rem;
    letter-spacing: 0.1px;
    font-weight: 300;
    color: $gray;
}

.list li:hover{
    position: relative;
    color: $dark-gray;
}

.list{
    list-style-type: none;
}