.link {
    display: flex;
    width: fit-content;
    &--button{
        height: 40px;
        text-align: center;
        background-color: $primary-color;
		line-height: 1.20gitrem;
        padding: 0.5rem 1.3rem;
        margin-top: 1.5rem;
		border-radius: 0.600rem;
		border-width: 0;
        text-decoration: none;
    }
    &--primary{
        background-color: $dark-gray;
        color: white;
    }
    @include box-shadow(1);
}

.link--primary:hover {
    color:$primary-color;
}