.links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    &--space{
        padding: 0 2.5%;
        justify-content: space-around;
        flex-grow: 0.3;
    }
    @include breakpoint(md){
    flex-direction: row;
    }
}