.link {
    width: fit-content;
    &--button{
        height: 40px;
    }
    &--primary{
        background-color: $dark-gray;
        color: white;
    }
    @include box-shadow(1);
}

.link--primary:hover {
    color: $primary-color;
}