- 
   var movieList = 
    {
      "title": "Ocean's Eleven",
      "rating": 9.2
    }

doctype pug
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
  body
    .flex-box
      .flex-item Item 1
    if movieList.rating
      .flex-item test.test
      .flex-item Item 3
      .flex-item Item 4
      .flex-item Item 5
    a(href='./secondpage.pug') To second.pug
    script(src='#../js/index.js')
