extends _layout.pug

block content
    +row('around')
        +flex('column')
            h1 Links    
            a(href='https://github.com/bogdanbele/parcel-blueprints') Github Link
            br
            a(href='https://docs.google.com/document/d/1O6liAGgPAjiZVMU8DU7wci751zFr6nbhV_nuB_UNMx0/edit?usp=sharing') Report
    +row
