extends _layout.pug

block style
    link(rel='stylesheet', href= data.styles.mainStylePath)

block content
    a(href='subpage/index.pug') To second.pug
    a(href='../index.pug') back 
    h1 I'm the second page
      if globals.links
    .flex LINKS HERE