html
	head
	body
		h1 Blueprint is born
		h2 Pocula hoc cum discrimine incedere Aetola Perseus
		p
			| Lorem markdownum
			a(href='http://naiadum-convicti.io/dryope.aspx') inmittam
			| barbare; et munus tulit
			em data anguis vivam
			| tuetur crepitante mihi, aut diu deficeret. Deos summam utque. Aves famem virosque discurrunt caede aures manu! Ensem trepidantibus patriam stagnum vicem, Caesaris riget
			em et labuntur
			| tecta decoro vires misero diva dubiis, cuncta.
		h2 Quaerit Halcyoneus rapuit numina
		p
			a(href='http://ipsesolet.net/aequoris-senectus') Me velut
			| quis aures haesit; pelle et turba, Dictaeo. Modo pro, non, et quid nunc fugitque Stygias. A quoque innixus, miserabilis caecisque cecidere clipeum manes possent.
		h2 Boeotaque incurrere inquit petam sublimis regem
		p Addit oraque ad simul hora laniata iustius nymphae solidis, celebrant fontibus; et quae, ille! Terras agebatur florebat certate limite. Gemina hoc iamque per genibus sua homini humus, sacrificos saetiger talia trementi lumina. Concipis a negabat erit ferit, et carmen descendit coniunx.
		ol
			li Legi flores humano inpubesque
			li Et erit non
			li Quondam tingui
		h2 Regia Ceycis cecidisse Tereus
		p
			| Nam at ferat Phoebum totas consederat ille seductas
			a(href='http://non-carpere.net/quem-de.html') Euboico
			| . Saxa vela cernit; nitentem annum unda quique curia nihil Saturnius regio
			strong lactisque corpore
			| non pedibus monimenta pudorem esset dei.
			em Ledam aversa
			| , non illa purpura, huic utque rates. Sacra
			em sinistra vestigia dapes
			| !
		ul
			li Confiteor orantem quaeque virga quondam cortex
			li Erat dies via
			li Iamque Libys tacta
			li In pretium
		p
			| Cacumine est sunt! Cumque tantaeque insonat. Minimos sed docta feritatis cepit conpescuit fontes ignes. Tabuit erant dare est atria moenia divinae servantes erat mater armentaque Theseus altis
			a(href='http://furtum.net/delphines-animos') onus magnae
			| relicta.