@import "defaults";
@import "mixins";


.active:after {
        transition: 0.6s;
        width: 100%;
}

.active {
    color: #333;
    @include breakpoint(md){
        color: $primary-color;
    }
}

.webPath {
    display: none;
}

.active > a {
    color: $primary-color !important;
}