@import "defaults";
@import "mixins";


.active:after {
        transition: 0.6s;
        width: 100%;
}

#inv-nav-main-btn.right.is-active{
    right:200px;
    z-index: 1000;
}

#inv-nav-main-btn .hamburger-inner, #inv-nav-main-btn .hamburger-inner::before, #inv-nav-main-btn .hamburger-inner::after {
    background-color: $primary-color;
}
button#inv-nav-main-btn {
    background-color: transparent;
}
#inv-nav-main-btn.is-active {
    background-color: transparent;
}

#inv-nav-main-btn.left.is-active {
    left: 200px;
    right: auto;
    z-index: 1000;
}

ul#inv-menu > li > a {
    margin-top:50px;
    @include breakpoint(md){
        margin-top: 0px;
    }
}

.link ul a {
    font-weight: 300;
    font-size: 0.6rem;
    background-color: white;
    @include breakpoint(md){
        font-weight: 500;
    }
}

.link ul li:hover ul li a:hover, ul#inv-menu li:hover ul li a:focus, ul#inv-menu li:hover ul li a:active, ul#inv-menu li.menu-show ul li a:hover, ul#inv-menu li.menu-show ul li a:focus, ul#inv-menu li.menu-show ul li a:active {
    color: #313131;
    font-weight: 500;
    background-color: #fff;
}


ul#inv-menu li:hover ul, ul#inv-menu li.menu-show ul {
    @include breakpoint(md){
    width: inherit;
    color: $dark-gray;
    font-weight: 500;
    background-color: #fff;
    }
}

ul#inv-menu li:hover ul li a, ul#inv-menu li.menu-show ul li a {
    @include breakpoint(md){
    width: inherit;
    color: #313131;
    font-weight: 500;
    background-color: #fff;
    margin: 0px;
    padding: 0;
    }
}

ul#inv-menu li:hover ul li, ul#inv-menu li.menu-show ul li {
    @include breakpoint(md){
    width: 90px;
    border-bottom: 1px solid #aaa;
    }
}

ul#inv-menu li:hover ul li a:hover, ul#inv-menu li:hover ul li a:focus, ul#inv-menu li:hover ul li a:active, ul#inv-menu li.menu-show ul li a:hover, ul#inv-menu li.menu-show ul li a:focus, ul#inv-menu li.menu-show ul li a:active,
ul#inv-menu li:hover, ul#inv-menu li.menu-show {
    @include breakpoint(md){
        background-color: #fff;
        color: $dark-gray;
    }
}