@import "defaults";
@import "mixins";


.content{
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.active:after {
        transition: 0.6s;
        width: 100%;
}