$primary-color: #ff5722;
$primary-color-dark: #c41c00;
$primary-color-light: #ff8a50;
$secondary-color: #000;
$secondary-dark-color: #ff0;
$warning-color: #fa2;



$dark-gray: #424242;
$light-gray: #EEE;
$lighter-gray: #ddd;
$gray: #9e9e9e;
